*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: burlywood;
    width: 100vw;
    height: 20vh;
}

button{
    width: 10vw;
    height: 10vh;
}

#btnfeed{
    background-color: chocolate;
}

#btnplay{
    background-color: chartreuse;
}

#btncuddle{
    background-color: crimson;
    color: antiquewhite;
}

#btnsleep{
    background-color: blue;
    color: antiquewhite;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    background-color: aquamarine;
}

.blob{
    width: 20vw;
    height: 20vh;
    background-color: rgb(255, 166, 0);
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 10vw;
    height: 10vh;
}

#ground{
    background-color: darkgreen;
    width: 100vw;
    height: 10vh;
}

.cuddleMe{
    background-color: crimson;
}

.playNow{
    background-color: chartreuse;
}

.feedMe{
    background-color: chocolate;
}

.sleepNow{
    background-color: blue;
}

#status{
    width: 20vw;
    height: 30vh;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
}